<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="shell">
				<patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
				<patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
			</site>
			<site name="jsssite"
					rootPath="/sitecore/content/JssApp"
					startItem="/home"
					language="en"
					database="web"
					virtualFolder="/"
					physicalFolder="/"
					enableTracking="true"
					cacheHtml="true"
					htmlCacheSize="50MB"
					enablePreview="true"
					enableWebEdit="true"
					enableDebugger="true"
					enableItemLanguageFallback="true"
					enableFieldLanguageFallback="true"
					disableClientData="false" />
		</sites>

		<javaScriptServices>
			<apps>
				<app name="JssApp"
					 sitecorePath="/sitecore/content/JssApp"
					 inherits="defaults"
        />
			</apps>
		</javaScriptServices>
	</sitecore>
</configuration>
